
<mat-list class="one" *ngIf="clickedBool">
    <mat-divider></mat-divider>
  <mat-list-item class="one"> Name: {{phones[phoneId].name}} </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="two"> Cpu: {{phones[phoneId].cpu}} </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class = "three"> Number Of Cameras: {{phones[phoneId].numberOfCams}} </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> Main Camera: {{phones[phoneId].mainCamera}} </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> Secondary Camera: {{phones[phoneId].secondaryCamera}} </mat-list-item>
  
  <mat-divider></mat-divider>
  <mat-list-item> Third Camera: {{phones[phoneId].thirdCamera}}</mat-list-item>
  
  <mat-divider></mat-divider>
  <mat-list-item> Battery: {{phones[phoneId].Battery}} </mat-list-item>
  <mat-divider></mat-divider>
 </mat-list>

