.item{
    
position: center;
width: 400px;
height: 220px;
left:50%;
margin-left: -200px;

top:50%;
margin-top:110px;

border: 3px solid #ff4081;

background:#ff408023;
border-radius: 25px;
}
.button {
width: 100%;
margin-left: 100px;
}
.password{
    width:100%;
}
.username{
    width:100%;
}
